<div class="container">


    <ul class="hoverable-list">
        <p-card header="Most Visited Websites">
            <p class="m-0">
                <li class="list">
                    <div class="c">
                        <div class="site">Facebook</div> 
                        <div class="stats"><p-progressBar [value]="70" [showValue]="false" class="pbar"  ></p-progressBar></div>
                    <div></div>
                    </div> 
                </li>

                <li class="list">
                    <div class="c">
                        <div class="site">Instragram</div> 
                        <div class="stats"><p-progressBar [value]="20" [showValue]="false" class="pbar"></p-progressBar></div>
                    </div> 
                </li>

                <li class="list">
                    <div class="c">
                        <div class="site">Twitter</div> 
                        <div class="stats"><p-progressBar [value]="10" [showValue]="false" class="pbar"></p-progressBar></div>
                    </div> 
                </li>

                <li class="list">
                    <div class="c">
                        <div class="site">Amazon</div> 
                        <div class="stats"><p-progressBar [value]="40" [showValue]="false" class="pbar"></p-progressBar></div>
                    </div> 
                </li>

                <li class="list">
                    <div class="c">
                        <div class="site">Google</div> 
                        <div class="stats"><p-progressBar [value]="33" [showValue]="false" class="pbar"></p-progressBar></div>
                    </div> 
                </li>

                <li class="list">
                    <div class="c">
                        <div class="site">Netflix</div> 
                        <div class="stats"><p-progressBar [value]="21" [showValue]="false" class="pbar"></p-progressBar></div>
                    </div> 
                </li>
                
                
    
            </p>
        </p-card>
    </ul>

    
      
</div>


  
   
  
  
  